﻿@model Forma1.DAL.Entities.Team

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfEstablishment" class="control-label"></label>
                <input asp-for="YearOfEstablishment" class="form-control" />
                <span asp-validation-for="YearOfEstablishment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChampionsWon" class="control-label"></label>
                <input asp-for="ChampionsWon" class="form-control" />
                <span asp-validation-for="ChampionsWon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PaidMembership" /> @Html.DisplayNameFor(model => model.PaidMembership)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn blue-button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn blue-button">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
