﻿@model Forma1.DAL.Entities.Team

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOfEstablishment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearOfEstablishment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChampionsWon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChampionsWon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidMembership)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidMembership)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn blue-button" /> |
        <a asp-action="Index" class="btn blue-button">Back to List</a>
    </form>
</div>
