﻿@model Forma1.DAL.Entities.Team

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOfEstablishment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearOfEstablishment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChampionsWon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChampionsWon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidMembership)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidMembership)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn blue-button">Edit</a> |
    <a asp-action="Index" class="btn blue-button">Back to List</a>
</div>
