﻿@model IEnumerable<Forma1.DAL.Entities.Team>

@{
    ViewData["Title"] = "Teams";
}

<h2>Teams</h2>

<p>
    <input type="button" value="Create New" onclick="@("window.location.href='" + @Url.Action("Create", "Teams") + "'");" class="btn blue-button" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfEstablishment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChampionsWon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidMembership)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfEstablishment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChampionsWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidMembership)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn blue-button">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn blue-button">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn blue-button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
